<header class="header">
    <nav class="navbar">
        <a href="/Music-Store/index.php" class="logo">
            <i class="fas fa-music"></i> Music Store
        </a>
        <ul class="nav-links">
            <li><a href="/Music-Store/index.php" {{#if active_home}}class="active"{{/if}}>Trang chủ</a></li>
            <li><a href="/Music-Store/products.php" {{#if active_products}}class="active"{{/if}}>Sản phẩm</a></li>
            {{user_links}}
        </ul>
        <button class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
</header> 